@import "tailwindcss";
/* @config "../tailwind.config.ts"; */
/* @import "tailwindcss/theme";
@import "tailwindcss/utilities";
@import "tailwindcss/preflight"; */

:root {
  --color-primary-violet: #7C3AED;
  --color-secondary-magenta: #DB2777;
  --color-danger-red: #EF4444;

  --color-dark-background: #161B22;
  --color-lighter-background: #1F2937;

  --color-light-text: #F9FAFB;
  --color-text-secondary: #D1D5DB;

  --color-warning: #FBBF24;
  --color-success: #22C55E;
}

/* Aplicar los colores base de tu tema oscuro */
body {
  background-color: var(--color-dark-background);
  color: var(--color-light-text);
}

/* @theme {
  --color-primary-violet: #7C3AED;
  --color-secondary-magenta: #DB2777;
  --color-danger-red: #EF4444;

  --color-dark-background: #161B22;
  --color-lighter-background: #1F2937;

  --color-light-text: #F9FAFB;
  --color-text-secondary: #D1D5DB;

  --color-warning: #FBBF24;
  --color-success: #22C55E;
} */